@model LibraryManagement.Models.Book

<h2>Book Details</h2>

<div>
    <h3>@Model.Title</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>

        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.Author.FirstName @Model.Author.LastName</dd>

        <dt class="col-sm-2">Library Branch</dt>
        <dd class="col-sm-10">
            @if (Model.LibraryBranch != null)
            {
                @Model.LibraryBranch.BranchName
            }
            else
            {
                <span>No Library Branch Assigned</span>
            }
        </dd>

        <dt class="col-sm-2">Published Date</dt>
        <dd class="col-sm-10">@Model.PublishedDate.ToString("yyyy-MM-dd")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>